<section class="container">
  <h1 class="mb-4">Patient: <%= @patient.name %></h1>
  <div class="row d-flex justify-content-center">
    <div class="list-group w-50 mb-3">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Name</h5>
        </div>
        <p class="mb-1"><%= @patient.name %></p>
        
      </div>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Surname</h5>      
        </div>
        <p class="mb-1"><%= @patient.surname %></p>    
      </div>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">DOB</h5>      
        </div>
        <p class="mb-1"><%= @patient.DOB %></p>    
      </div>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">City</h5>      
        </div>
        <p class="mb-1"><%= @patient.city %></p>    
      </div>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Email</h5>      
        </div>
        <p class="mb-1"><%= @patient.email %></p>    
      </div>
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Medical History</h5>      
          </div>
          <p class="mb-1"><%= @patient.medical_history %></p>    
        </div>  
      </div>
    </div>    
    <div class="mt-4 mb-3 d-flex justify-content-center">
      <%= link_to 'Back', :back, class:"btn btn-primary text-white" %>
    </div>
  </div>
</section>
