<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<p>
  <strong>Medical history:</strong>
  <%= @patient.medical_history %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.DOB %>
</p>

<p>
  <strong>City:</strong>
  <%= @patient.city %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
