<div class="container mt-3">
  <h1>Doctors</h1>
  <div class="d-flex justify-content-start w-25 my-3">
    <%= render 'searches/form'%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">DOB</th>
        <th scope="col">City</th>
        <th scope="col">Graduated</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @doctors.each do |doctor| %>
        <tr>
          <td><%= doctor.name %></td>
          <td><%= doctor.email %></td>
          <td><%= doctor.DOB %></td>
          <td><%= doctor.city %></td>
          <td><%= doctor.graduated %></td>
          <td><%= link_to 'Show', doctor, class:"btn btn-primary text-white" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
