<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @doctor.DOB %>
</p>

<p>
  <strong>City:</strong>
  <%= @doctor.city %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @doctor.resume %>
</p>

<p>
  <strong>Graduated:</strong>
  <%= @doctor.graduated %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
