<!DOCTYPE html>
<html>
  <head>
    <title>Crisalix2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if doctor_signed_in? %>
        <%= link_to 'Sign Out as Doctor', destroy_doctor_session_path, method: :delete %> |
      <% elsif !patient_signed_in? %>
        <%= link_to "Sign In as Doctor", new_doctor_session_path %> |
      <% end %>

      <% if patient_signed_in? %>
        <%= link_to 'Sign Out as patient', destroy_patient_session_path, method: :delete %> |
      <% elsif !doctor_signed_in? %>
        <%= link_to "Sign In as patient", new_patient_session_path %> |
      <% end %>
    <%= yield %>
  </body>
</html>
